:root {
  --font-color: #e9eaea;
  --bg-color: #23252c;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  position: sticky;
  top: 0;
  background-color: hsl(0, 0%, 7%);
  display: flex;
  padding: 0 1.5rem;
  justify-content: space-between;
  align-items: center;
}

#logo {
  color: white;
}

ul{
  margin: 0;
  display: flex;

}

li {
  list-style: none;
}